/*--------------------    default settings    --------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,nav ol,ul,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;cursor: pointer;}
a:hover{text-decoration: none;}
button{cursor: pointer;outline: none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*--------------------    user settings    --------------------*/
body{background:#000;width:100%;color:#000;font-size:14px;font-family: 'Roboto', sans-serif;line-height:1.25;}
.clear {clear: both;height: 0;overflow: hidden;}
.clearfix:after {content: "";display: table;clear: both;}

/* all */
::-webkit-input-placeholder { color: inherit; font-size: inherit;}
::-moz-placeholder { color: inherit; font-size: inherit;} /* firefox 19+ */
:-ms-input-placeholder { color: inherit; font-size: inherit;} /* ie */
input:-moz-placeholder { color: inherit; font-size: inherit;}
input, textarea {outline:none;}
input[type='text'], input[type='tel'], input[type='password'], input[type='email'], textarea{background:transparent;width:100%;height:42px;color:#fff;font-size:18px;font-weight: 700;border:2px solid #fff;padding:0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
input[type='text']:hover, input[type='tel']:hover, input[type='password']:hover, input[type='email']:hover, textarea:hover {border-color: #ffbb54;}
input[type='text']:focus, input[type='tel']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus{border-color: #ffbb54;}
textarea{height:180px;font-size:16px;font-weight: 300;font-family: 'Roboto', sans-serif;line-height: 1.25;padding:10px 15px;overflow:auto;resize:vertical;}

h2{position: relative;color: #fff;font-size: 30px;font-weight: 700;text-align: center;text-transform: uppercase;margin-bottom: 50px;}
/*--------------------    all settings    --------------------*/
.container{
	position:relative;
	margin:0 auto;
	width:1260px;
}
	.container:after{
		content: "";
		display: table;
		clear: both;
	}
.a-button{
	position: relative;
	display: inline-block;
	background: transparent;
	width: auto;
	height: 50px;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 0 25px 0 35px;
	outline: none;
	cursor: pointer;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	.a-button:hover{
		color: #ffbb54;
		border-color: #ffbb54;
	}
	.a-button:active{
		
	}
.button-arr{
	position: relative;
	background: url('../img/button-arr.png') right center no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 12px;
	margin-left: 8px;
	margin-top: -2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	.a-button:hover .button-arr{
		background-position: left center;
	}

.wrapper{
	position: relative;
	background: url('../img/wrapper-bg.jpg') center top no-repeat;
}
/*--------------------    header    --------------------*/
header{
	position: relative;
	background: #000;
	line-height: 1;
	padding: 5px 0;
}
	.logo{
		float: left;
	}
	.header-right{
		position: relative;
		float: right;
		padding-top: 20px;
	}
		.top-menu{
			position: relative;
			float: left;
			border-right: 1px solid #4d4d4d;
		}
			.top-menu ul li{
				position: relative;
				float: left;
				margin: 0 10px;
			}
				.top-menu ul li:before{
					content: '';
					position: absolute;
					background: #ffbb54;
					top: -25px;
					left: 0;
					width: 100%;
					height: 4px;
					opacity: 0;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
					.top-menu ul li:hover:before, .top-menu ul li.active:before{
						opacity: 1;
					}
				.top-menu ul li a{
					display: block;
					color: #f2f2f2;
					font-size: 12px;
					font-weight: 700;
					text-decoration: none;
					text-transform: uppercase;
					padding: 12px 5px;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
					.top-menu ul li a:hover, .top-menu ul li.active a{
						color: #ffbb54;
					}
		.login{
			position: relative;
			float: left;
			border-right: 1px solid #4d4d4d;
			padding: 0 15px;
		}
			.login a{
				display: block;
				color: #f2f2f2;
				font-size: 12px;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
				padding: 12px 5px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
				.login a:hover{
					color: #ffbb54;
				}
			.login img{
				vertical-align: middle;
				margin-top: -3px;
				margin-left: 5px;
			}
			.login-arr{
				position: relative;
				background: url('../img/login.png') right center no-repeat;
				display: inline-block;
				vertical-align: middle;
				width: 17px;
				height: 16px;
				margin-top: -3px;
				margin-left: 8px;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
				.login a:hover .login-arr{
					background-position: left center;
				}
		.lang{
			position: relative;
			float: left;
			margin-left: -1px;
		}
			.lang-head{
				position: relative;
				color: #fff;
				font-size: 12px;
				font-weight: 700;
				text-decoration: none;
				text-transform: uppercase;
				border: 1px solid transparent;
				border-bottom: 0;
				padding: 12px 10px;
				cursor: pointer;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
				.lang-head:hover{
					color: #ffbb54;
				}
				.lang-head.active{
					border-color: #4d4d4d;
				}
				.lang-current{
					padding-left: 5px;
				}
				.lang-arr{
					position: relative;
					background: url('../img/lang-arr.png') center bottom no-repeat;
					display: inline-block;
					vertical-align: middle;
					width: 12px;
					height: 9px;
					margin-top: -2px;
					margin-left: 4px;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
					.lang-head:hover .lang-arr{
						background-position: center top;
					}
			.lang-list{
				position: absolute;
				background: #000;
				display: none;
				top: 30px;
				left: 0;
				width: 100%;
				border: 1px solid #4d4d4d;
				border-top: 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
				.lang-list ul li{
					padding: 0 10px;
				}
					.lang-list ul li a{
						position: relative;
						display: block;
						color: #fff;
						font-size: 12px;
						font-weight: 700;
						text-decoration: none;
						text-transform: uppercase;
						border-top: 1px solid #4d4d4d;
						padding: 5px 5px;
						cursor: pointer;
						-webkit-transition: all 0.3s ease;
						-moz-transition: all 0.3s ease;
						-o-transition: all 0.3s ease;
						transition: all 0.3s ease;
					}
						.lang-list ul li a:hover{
							color: #ffbb54;
						}
/*--------------------    head    --------------------*/
.head{
	position: relative;
	padding-top: 50px;
}
	.head-slider{
		position: relative;
	}
		.head-box{
			position: relative;
			background: center top no-repeat;
			background-size: cover;
			display: table;
			width: 100%;
			color: #fff;
			text-align: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
			.head-body{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				height: 820px;
				padding: 20px 180px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
				.head-title{
					position: relative;
					font-size: 40px;
					font-weight: 700;
					margin-bottom: 80px;
				}
					.head-title:before{
						content: '';
						position: absolute;
						background: #ffbb54;
						left: 0;
						right: 0;
						bottom: -45px;
						width: 190px;
						height: 5px;
						margin: 0 auto;
					}
				.head-subtitle{
					position: relative;
					font-size: 22px;
					font-weight: 300;
					line-height: 26px;
					margin-bottom: 20px;
				}
				.head-text{
					position: relative;
					font-size: 18px;
					font-weight: 300;
					line-height: 26px;
				}
		.head-slider .slick-dots{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 60px;
			text-align: center;
		}
			.head-slider .slick-dots li{
				display: inline-block;
				margin: 0 6px;
			}
				.head-slider .slick-dots li button{
					background: transparent;
					width: 6px;
					height: 6px;
					color: transparent;
					font-size: 0;
					border: 1px solid #fff;
					padding: 0;
					margin: 0;
					outline: none;
					cursor: pointer;
				}
					.head-slider .slick-dots li.slick-active button{
						background: #ffbb54;
						border-color: #ffbb54;
					}
/*--------------------    mission    --------------------*/
.mission{
	position: relative;
	padding-top: 50px;
}
	.mission-inner{
		position: relative;
		padding-top: 1px;
	}
		.mission-box{
			position: relative;
			color: #fff;
			margin-top: 90px;
		}	
			.mission-box:after{
				content: "";
				display: table;
				clear: both;
			}
			.mission-box:first-child{
				margin-top: 40px;
			}
			.mission-head{
				position: relative;
				float: left;
				width: 580px;
				height: 515px;
				margin-top: -40px;
			}
				.mission-box:nth-child(odd) .mission-head{
					float: right;
					margin-left: -180px;
				}
				.mission-box:nth-child(even) .mission-head{
					margin-right: -180px;
				}
				.mission-head img{
					max-width: 100%;
				}
			.mission-body{
				position: relative;
				float: left;
				width: 860px;
				height: 440px;
				text-align: center;
				z-index: 0;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
				.mission-body:before{
					content: '';
					position: absolute;
					background: rgba(13,13,13,0.7);
					top: 20px;
					width: 100%;
					height: 100%;
					z-index: -1;
				}
					.mission-box:nth-child(odd) .mission-body:before{
						right: 20px;
					}
					.mission-box:nth-child(even) .mission-body:before{
						left: 20px;
					}
				.mission-body:after{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					border: 5px solid #ffbb54;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				.mission-content{
					position: relative;
					display: table-cell;
					vertical-align: middle;
					width: 860px;
					height: 440px;
					padding: 20px 80px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
					.mission-title{
						position: relative;
						font-size: 24px;
						font-weight: 700;
						margin-bottom: 60px;
					}
						.mission-title:before{
							content: '';
							position: absolute;
							background: #ffbb54;
							left: 0;
							right: 0;
							bottom: -35px;
							width: 120px;
							height: 5px;
							margin: 0 auto;
						}
					.mission-text{
						position: relative;
						font-size: 16px;
						font-weight: 300;
						line-height: 24px;
					}
/*--------------------    suggestions    --------------------*/
.suggestions{
	position: relative;
	padding-top: 50px;
}
	.suggestions-inner{
		position: relative;
	}
		.suggestions table{
			width: 100%;
			border-collapse: collapse;
		}
			.suggestions table tbody tr td{
				vertical-align: middle;
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				border-top: 2px solid #ffbb54;
				border-bottom: 2px solid #ffbb54;
				padding: 10px 0;
			}
				.suggestions table tbody tr td:last-child{
					text-align: right;
				}
				.suggestions table tbody tr td a{
					color: #fff;
					font-size: 18px;
					text-decoration: none;
					text-transform: uppercase;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
					.suggestions table tbody tr td a:hover{
						color: #ffbb54;
						text-decoration: underline;
					}
					.suggestions table tbody tr td a img{
						vertical-align: middle;
						margin-left: 10px;
					}
/*--------------------    contacts    --------------------*/
.contacts{
	position: relative;
	padding-top: 50px;
}
	.contacts-inner{
		position: relative;
		padding-top: 40px;
	}
		#map{
			position: relative;
			float: right;
			width: 760px;
			height: 515px;
			margin-top: -40px;
			margin-left: -80px;
		}
		.contacts-box{
			position: relative;
			float: left;
			width: 580px;
			height: 440px;
			z-index: 0;
		}
			.contacts-box:before{
				content: '';
				position: absolute;
				background: rgba(13,13,13,0.7);
				top: 20px;
				right: 20px;
				width: 100%;
				height: 100%;
				z-index: -1;
			}
			.contacts-box:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 5px solid #ffbb54;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.contacts-content{
				position: relative;
				display: table-cell;
				vertical-align: middle;
				width: 580px;
				height: 440px;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				line-height: 46px;
				text-align: center;
				padding: 20px 60px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
				.contacts-content .a-button{
					margin-top: 30px;
				}
/*--------------------    footer    --------------------*/
footer{
	position: relative;
	padding: 50px 0;
}
	.copyright{
		position: relative;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

/*--------------------    modal    --------------------*/
.modal{
	position: relative;
	background: #000;
	display: none;
	width: 580px;
	color: #fff;
	text-align: center;
	border: 5px solid #ffbb54;
	padding: 50px 85px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.form-title{
		position: relative;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	.form-group{
		position: relative;
		text-align: left;
		margin-bottom: 15px;
	}
		.form-group label{
			position: relative;
			display: block;
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 5px;
		}
			.form-group label small{
				font-weight: 14;
				font-weight: 300;
			}
	.form-button{
		position: relative;
		display: inline-block;
		margin: 20px auto 0;
	}
		.form-button:before{
			content: '';
			position: absolute;
			background: url('../img/button-arr.png') right center no-repeat;
			top: 50%;
			right: 45px;
			width: 8px;
			height: 12px;
			margin-top: -4px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
			.form-button:hover:before{
				background-position: left center;
			}
		.form-button .a-button{
			padding: 0 60px 0 50px;
		}
	.form-error{
		position: relative;
		color: #ff5454;
		font-size: 16px;
		font-weight: 700;
		visibility: hidden;
	}
	.input-error{
		border-color: #ff5454;
	}
#modal-success{
	font-size: 18px;
	font-weight: 300;
}
	#modal-success .form-title{
		margin-bottom: 80px;
	}
		#modal-success .form-title:before{
			content: '';
			position: absolute;
			background: #ffbb54;
			left: 0;
			right: 0;
			bottom: -45px;
			width: 120px;
			height: 5px;
			margin: 0 auto;
		}

body .fancybox-close{
	background: url('../img/close.png') center bottom no-repeat;
	top: 18px;
	right: 18px;
	width: 18px;
	height: 18px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
	body .fancybox-close:hover{
		background-position: center top;
	}